<%= render :partial => '/mc_menu/contentHeader' %>

<%= render :partial => 'scripts' %>

<%= render :partial => '/mc_menu/mcmenu' %>

<div style="float: left;">
  <h2><%=t :hr_mgmt_label_title %></h2>
  <div id="containerColumnBar" style="width: 600px; height: 400px; margin: 0 auto; float: left;"></div>
  <div id="containerStackedBar" style="min-width: 600px; min-height: 500px; margin: 0 auto; float: left;"></div>
</div>

<div>
<p id="notice"><%= notice %></p>
</div>
