<%= render :partial => '/mc_menu/contentHeader' %>

<%= render :partial => 'index' %>

<%= render :partial => '/mc_menu/mcmenu' %>

<div style="float: left;">
<h2><%=t :statuses_issue_label_title %> - <%=  @all_project_issues.count %> <%=t :tasks_label%>, <%= @overdueissues.count %> <%=t :overdue_text%></h2>
	
<div id="container" style="width: 650px; height: 400px; margin: 0 auto; float: left;"></div>
 <div id="containerColumn" style="min-width: 650px; height: 400px; margin: 0 auto; float: left;"></div>
</div>

<div style="float: left;">
	<h2><%=t :categories_issue_label_title %></h2>
 <div id="categoryPie" style="min-width: 650; height: 400px; margin: 0 auto; float: left;"></div>
 <div id="categoryStackedColumn" style="margin: 0 auto; float: left;"></div>
</div>

<div style="float: left;">
<h2><%=t :task_management_label_title %></h2>
 <div id="managementissues" style="width: 300px; height: 300px; margin: 0 auto; float: left;"></div>
 <div style="float: left;">
  <%@managementissues.each do |issue|%>
   <div>
	 <%if (issue.id == 1)%>
 	  <b><%=issue.typemanagement%>: <%=issue.totalissues%></b>
	  <div><%=t :manageable_text_tip%></div>	  <br/>
	 <%else%>	
	<b>
		<a href="#TB_inline?height=400&width=600&inlineId=hiddenModalContentUnmanageable&modal=false" title='<%=issue.typemanagement%>: <%=issue.totalissues%>' class="thickbox"><%=issue.typemanagement%>: <%=issue.totalissues%></a>
	</b>	
	
	  <div><%=t :unmanageable_text_tip%></div>
	
	 <div id="hiddenModalContentUnmanageable" style="display: none;">
	 <%@unmanagementissues.each do |unmanagementissue|%>
	   <%link_unmanagementissue = unmanagementissue.id.to_s+' - '+unmanagementissue.subject%>
	   <div style="font-size: 11px; margin-left: 5px;"><%= link_to link_unmanagementissue, unmanagementissue %>
	   </div>
	  <%end%>
	</div>

	 <%end%>
   </div>
  <%end%>
</div>

 <div id="delayedissues" style="min-width: 300px; height: 300px; margin: 0 auto; float: left;"></div>
 <div style="float: left;">
  <%@overdueissueschart.each do |issue|%>
   <div>
	<%if (issue.id == 2)%>
	 <b><a href="#TB_inline?height=400&width=600&inlineId=hiddenModalContentOverdue&modal=false" title='<%=issue.typeissue%>(<%=issue.totalissuedelayed%>)' class="thickbox"><%=issue.typeissue%>: <%=issue.totalissuedelayed%></a></b>
     <div id="hiddenModalContentOverdue" style="display: none;">
	 <% @overdueissues.each do |delayed| %>
	   <%link_name = delayed.id.to_s+' - '+delayed.subject%>
	   <div style="font-size: 11px; margin-left: 5px;"><%= link_to link_name, delayed %> - <span style="color: red;"><%=(Date.today - delayed.due_date).to_i%> <%=t :days_late_text%></span>
	   </div>
	 <%end%>
	</div>
	<%else%>
	 <b><%=issue.typeissue%>: <%=issue.totalissuedelayed%></b>
	<%end%>
   </div>
  <%end%>
 </div>


<p id="notice"><%= notice %></p>
</div>
	
	