<%= render :partial => 'contentHeader' %>

<%= render :partial => 'index' %>

<%= render :partial => 'mcmenu' %>

<div style="float: left;">
<h2><%=t :statuses_issue_label_title %> - <%=  @all_project_issues.count %> <%=t :tasks_label%>, <%= @overdueissues.count %> <%=t :overdue_text%> </h2>
 <div id="container" style="width: 650px; height: 400px; margin: 0 auto; float: left;"></div>
 <div id="containerColumn" style="min-width: 650px; height: 400px; margin: 0 auto; float: left;"></div>
</div>

<div style="float: left;">
<h2><%=t :task_management_label_title %></h2>
 <div id="managementissues" style="min-width: 300px; height: 300px; margin: 0 auto; float: left;"></div>
 <div style="float: left;">
  <%@managementissues.each do |issue|%>
   <div><b><%=issue.typemanagement%>: <%=issue.totalissues%></b>
	 <%if (issue.id == 1)%>
	  <div><%=t :manageable_text_tip%></div>	  <br/>
	 <%else%>
	  <div><%=t :unmanageable_text_tip%></div>
	 <%end%>
   </div>
  <%end%>
 </div>

 <div id="delayedissues" style="min-width: 300px; height: 300px; margin: 0 auto; float: left;"></div>
 <div style="float: left;">
  <%@overdueissueschart.each do |issue|%>
   <div>
	<%if (issue.id == 2)%>
	 <b><a href="#TB_inline?height=400&width=600&inlineId=hiddenModalContent&modal=false" title='<%=issue.typeissue%>(<%=issue.totalissuedelayed%>)' class="thickbox"><%=issue.typeissue%>: <%=issue.totalissuedelayed%></a></b>
     <div id="hiddenModalContent" style="display: none;">
	 <% @overdueissues.each do |delayed| %>
	   <%link_name = delayed.id.to_s+' - '+delayed.subject%>
	   <div style="font-size: 11px; margin-left: 5px;"><%= link_to link_name, delayed %> - <span style="color: red;"><%=(Date.today - delayed.due_date).to_i%> <%=t :days_late_text%></span></div>
	 <%end%>
	</div>
	<%else%>
	 <b><%=issue.typeissue%>: <%=issue.totalissuedelayed%></b>
	<%end%>
   </div>
  <%end%>
 </div>
<p id="notice"><%= notice %></p>
</div>
	
	