<%= render :partial => '/mc_menu/progressbar' %>
<h2><%= t(:monitoring_controlling_title) %></h2>
<div class="tabs">
<ul>
  <li><%= link_to ('<i class="icon-list"></i> '+t(:mc_tasksmgmt_menu_label)).html_safe, { :controller => 'home_monitoring_controlling_project', :action => 'index' }, :class => activeit?('home_monitoring_controlling_project') %></li>
  <li><%= link_to ('<i class="icon-time"></i> '+t(:mc_timemgmt_menu_label)).html_safe, { :controller => 'mc_time_mgmt_project', :action => 'index' }, :class => activeit?('mc_time_mgmt_project') %></li>
  <li><%= link_to ('<i class="icon-user"></i> '+t(:mc_humanresourcemgmt_menu_label)).html_safe, { :controller => 'mc_human_resource_mgmt_project', :action => 'index' }, :class => activeit?('mc_human_resource_mgmt_project') %></li>
  <span id="progressbar" style="width: 250px; margin: 0 0 0 0; float: right; padding: 0;"></span>
</ul>
</div>
