<%= render :partial => '/home_monitoring_controlling_project/contentHeader' %>

<%= render :partial => 'scripts' %>

<%= render :partial => '/home_monitoring_controlling_project/mcmenu' %>

<h2><%=t :time_mgmt_label_title %></h2>
<div id="containerSpentHours" style="min-width: 600px; height: 400px; margin: 0 auto;"></div>

<div id="containerColumn" style="min-width: 650px; height: 400px; margin: 0 auto; float: left;"></div>

<%= @issuesSpentHoursTotal.to_s%>

